.title {
    margin: 1rem;
}

.App {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    a {
        text-decoration: none;
        color: black;
        box-shadow: 0 1px 0 0 #222;

        &:hover {
            box-shadow: none;
        }
    }
}

img {
    object-fit: cover;
    width: 100%;
}
