.title {
    margin: 1rem;
}

.App {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    a {
        text-decoration: none;
        color: black;
        box-shadow: 0 1.5px 0 0 black;

        &:hover {
            box-shadow: none;
        }
    }
}

#editor {
    font-family: 'Roboto Mono';
    font-size: 85%;
}

#md_preview,
#preview {
    height: 100vh;
    overflow-y: scroll;
}

img {
    object-fit: cover;
    width: 100%;
}

@media screen and (min-width: 600px) {
    #md_preview,
    #preview {
        height: calc(100vh - 64px);
    }
}

@media screen and (max-width: 600px) {
    #md_preview,
    #preview {
        height: calc(100vh - 56px);
    }
}

@media screen and (max-width: 620px) {
    #preview {
        display: none;
    }
}
