.preview {
    font-size: 95%;
    padding: 0.5rem;
    height: 100vh;
    overflow-y: scroll;
    background: inherit;

    &__desktop {
        display: block;
    }

    &__mobile {
        display: block;
        padding: 0.6rem;
        position: fixed;
        z-index: 10;
        background-color: white;
    }
}

@media screen and (min-width: 600px) {
    .preview {
        height: calc(100vh - 64px);
    }
}

@media screen and (max-width: 600px) {
    .preview {
        height: calc(100vh - 56px);
    }
}
